body {
  background: url('https://media.giphy.com/media/3o7WTDJQVuYwhhuLhC/giphy.gif') !important;
}

td    { font-family:Verdana, Geneva, sans-serif ; font-size:10pt; color:#828282;background:#FF69B4 !important  }

.pagetop { font-family:"Comic Sans MS", cursive, sans-serif !important; font-size: 10pt; color:#222222; }

